* {
	font-family: "Roboto Mono", monospace;
}
.App {
	text-align: center;
}
.App-header {
	/* background-color: #282c34; */
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

main {
	background-color: white;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
}
.aws-btn {
	--button-default-height: 50px;
	--button-default-font-size: 15px;
	--button-default-border-radius: 0;
	--button-horizontal-padding: 20px;
	--button-raise-level: 8px;
	--button-hover-pressure: 1;
	--transform-speed: 0.2s;
	--button-primary-color: #3b3b3b;
	--button-primary-color-dark: #262626;
	--button-primary-color-light: #ffffff;
	--button-primary-color-hover: #000000;
	--button-primary-border: 0px solid #000000;
	--button-secondary-color: green;
	--button-secondary-color-dark: #262626;
	--button-secondary-color-light: #fff;
	--button-secondary-color-hover: green;
	--button-secondary-border: 0px solid #b6b6b6;
	--button-anchor-color: #828282;
	--button-anchor-color-dark: #404040;
	--button-anchor-color-light: #ffffff;
	--button-anchor-color-hover: #292929;
	--button-anchor-border: 1px solid #000000;
}
