ul {
	list-style-type: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.todos-container {
	display: flex;
	flex-direction: column;
	align-content: space-evenly;
}
